body {
    background-color: #1B1B1B;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe-tc {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding: 100px;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 75%;
    object-fit: cover;
}

/* Extra my style */
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px;
    color: #ffffff;
    background-color: red;
    padding: 18px;
}

.swipe-tc P {
    font-size: 17px;
    color: #ffffff;
}